@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@keyframes glowPulse {
  0%, 100% {
    filter: drop-shadow(0 0 15px rgba(254,188,150,0.4));
  }
  50% {
    filter: drop-shadow(0 0 25px rgba(254,188,150,0.7));
  }
}


.glow {
  animation: glowPulse 3s ease-in-out infinite;
}

body {
  @apply font-display bg-[#FEFAE0] text-[#0D0D0D];
}

@theme{
  --font-italic: "Instrument Serif", serif;
  --font-display: "Inter", sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
}
